.project-col
{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px)
{
.project-desc
{
    font-size: 15px !important;
}
.project-card
{
    width: 700px !important;
}
.project-btn{
    font-size: 12px !important;
    width:70px;
    margin:2% 0;
}
}

.project-card {
    transition: all 0.7s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px rgb(254, 250, 250);
}
.project-btn
{
    background-color: #f6d327;
    background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
    color: rgb(46, 43, 37) !important;
}

.project-title
{
    background:linear-gradient(25deg, rgb(244, 217, 75), rgb(236, 96, 138));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}