.skills-col {
    display: flex;
    justify-content: center;
}

.skills-card {
    transition: all 0.7s ease-in-out;
}

.skills-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px rgb(161, 154, 154);
}


@media only screen and (max-width: 992px) {
    .skills-card {
        width: 700px !important;
    }
}