.footer-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
    .footer-ico
    {
        margin: 2%;
    }
}

.ico
{
    padding: 2%;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, rgb(244, 217, 75), rgb(236, 96, 138));
    border-radius: 50%;
}